
.jumbotron{
    font-family: 'Pacifico', cursive;
}
body{
    background-image: url(../images/hangman-150.png);
    background-repeat: no-repeat;
    background-position-x: 370px;
    background-position-y: 272px;
}
img{
    position: relative;
    left: 430px;
    top:-170px;
}